<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <title>Welcome to MessaginApp</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>
<div class="container">
    <div class="text-center">
        <br/>
        <h1 class="text-secondary">
            Welcome to Code Work Academy Messaging Application!!!
        </h1>
    </div>
    <br/>
    <br/>
    <div class="jumbotron text-center">
        <div class="text-center">
            <h3> Messages </h3>
        </div>
        <br/>
        <table class="table table-borderless table-hover shadow mb-4 bg-white">
            <thead>
            <th>Title </th>
            <th>Posted By </th>
            <th>HashTags </th>
            <th></th>
            </thead>
            <tr th:each="message : ${messages}">
                <td th:text="${message.title}"></td>
                <td th:text="${message.date}"></td>
                <td th:text="${message.hashtag}"></td>
                <td>
                    <a th:inline="text" th:href="@{/detail/{id}(id=${message.id})}" class="btn btn-primary" role="button">
                        Details </a>
                    <span th:if="${user_id==message.user.id}">
                    <a th:href="@{/update/{id}(id=${message.id})}" th:inline="text" class="btn btn-warning">
                        Update</a>
                    <a th:href="@{/delete/{id}(id=${message.id})}" th:inline="text" class="btn btn-danger">
                        Delete </a>
                    </span>
                </td>
            </tr>
        </table>
        <br/>
        <br/>
    </div>
</div>
<div th:replace="base ::  footer"></div>
</body>
</html>